<html>
<body>
  <div>
    <p style='color:black'>Complete your login request by clicking below.</p>
    <h2><a href="http://navy.happybirthdayhub.com/confirmed/?type=<%= type %>&authcode=<%= authcode %>&email=<%= email %>">Click here</a></h2>
  </div>
</body>
</html>